@import 'tailwindcss';
@import 'uniwind';
@import 'heroui-native/styles';

@source './node_modules/heroui-native/lib';

@layer theme {
  @variant light {
    --background: hsl(252 42% 98%);
    --foreground: hsl(246 44% 16%);
    --surface: hsl(0 0% 100%);
    --surface-foreground: hsl(246 44% 16%);
    --surface-secondary: hsl(252 46% 96%);
    --surface-secondary-foreground: hsl(246 44% 16%);
    --surface-tertiary: hsl(252 40% 92%);
    --surface-tertiary-foreground: hsl(246 44% 16%);
    --overlay: hsl(0 0% 100%);
    --overlay-foreground: hsl(246 44% 16%);
    --muted: hsl(244 15% 42%);
    --default: hsl(252 46% 96%);
    --default-foreground: hsl(246 44% 16%);
    --accent: hsl(261 72% 52%);
    --accent-foreground: hsl(0 0% 100%);
    --field-background: hsl(0 0% 100%);
    --field-foreground: hsl(246 44% 16%);
    --field-placeholder: hsl(244 14% 49%);
    --field-border: hsl(248 22% 84%);
    --success: hsl(158 64% 38%);
    --success-foreground: hsl(0 0% 100%);
    --warning: hsl(38 95% 50%);
    --warning-foreground: hsl(26 83% 14%);
    --danger: hsl(346 84% 54%);
    --danger-foreground: hsl(0 0% 100%);
    --segment: hsl(252 46% 96%);
    --segment-foreground: hsl(246 44% 16%);
    --border: hsl(248 22% 84%);
    --separator: hsl(248 21% 88%);
    --focus: hsl(261 72% 52%);
    --link: hsl(261 72% 52%);
    --radius: 0.75rem;
  }

  @variant dark {
    --background: hsl(244 35% 8%);
    --foreground: hsl(248 40% 94%);
    --surface: hsl(246 31% 12%);
    --surface-foreground: hsl(248 40% 94%);
    --surface-secondary: hsl(248 28% 16%);
    --surface-secondary-foreground: hsl(248 40% 94%);
    --surface-tertiary: hsl(248 26% 20%);
    --surface-tertiary-foreground: hsl(248 40% 94%);
    --overlay: hsl(246 31% 12%);
    --overlay-foreground: hsl(248 40% 94%);
    --muted: hsl(244 13% 67%);
    --default: hsl(248 28% 16%);
    --default-foreground: hsl(248 40% 94%);
    --accent: hsl(264 88% 66%);
    --accent-foreground: hsl(244 35% 8%);
    --field-background: hsl(248 28% 16%);
    --field-foreground: hsl(248 40% 94%);
    --field-placeholder: hsl(244 13% 67%);
    --field-border: hsl(247 16% 34%);
    --success: hsl(158 64% 46%);
    --success-foreground: hsl(248 40% 94%);
    --warning: hsl(38 95% 50%);
    --warning-foreground: hsl(26 83% 14%);
    --danger: hsl(346 84% 61%);
    --danger-foreground: hsl(248 40% 94%);
    --segment: hsl(248 28% 16%);
    --segment-foreground: hsl(248 40% 94%);
    --border: hsl(247 16% 34%);
    --separator: hsl(247 17% 29%);
    --focus: hsl(264 88% 66%);
    --link: hsl(264 88% 66%);
    --radius: 0.75rem;
  }
}
